.container {
  width: 100%;
  height: 100vh;
}
.nav {
  width: 100%;
  height: 30px;
  background-color: green;
}

.main_content {
  width: 100%;
  height: 100%;
  background-color: blue;
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 20%;
  height: 100%;
}
.inner_content {
  width: 80%;
  height: 100%;
  background-color: orange;
  overflow-y: auto;
}

.message {
  width: 100%;
  height: 20px;
  background-color: white;
}
.top_content {
  height: 300px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.map,
.summary {
  background-color: purple;
  width: 48%;
}
.graphs {
  height: 100px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.graph_div {
  width: 100px;
  background-color: blue;
}
.history {
  height: 200px;
  background-color: red;
  margin: 10px;
}

.active {
  color: white;
}
